<!-- **********************************************cover della pagina gallery********************************************************************* -->

<section id="hero">
  <div class="inner">
    <h1>Arghillà About Us</h1>
    <p class="text-align">
      Un homme qui travaille avec ses mains est un ouvrier ; un homme qui
      travaille <br />
      avec ses mains et son ses mains et son cerveau est un artisan ; mais un
      homme qui travaille <br />
      avec ses mains, son cerveau et son cœur est un artiste.
    </p>

    <p></p>
    <em class="text-align">
      A man who works with his hands is a workman; a man who works <br />
      with his hands and his brain is a craftsman; but a man who works <br />
      with his hands, his brain and his heart is an artist.
    </em>
  </div>
</section>

<!-- ***********************************************************texte TITRES ET CITATIONS ***********************************************************************************-->
<
<div class="container mt-4">
  <h3 class="uk-panel-title text-center">
    L'ARTS DES TERRES |<em> THE ART OF LANDS</em>
  </h3>
  <p class="uk-h3" style="text-align: center">
    <span style="color: #808080"
      >"Je façonne la terre de mon pays avec mes mains pour trouver des signes
      du passé, symboles d'une culture, d'une identité, de la Calabre."</span
    >
  </p>
  <p class="uk-h3" style="text-align: center">
    <span style="color: #808080"
      >&ldquo;
      <em>
        With my hands I shape the clay of my land, seeking signs of the past,
        symbols of a culture, of an identity, of Calabria.</em
      >&rdquo;</span
    >
  </p>

  <!-- *************************************************************texte DESCRIPTION ARGHILLA *********************************************************************** -->
  <h5 class="uk-panel-title text-center mt-4">L'ARTS DES TERRES</h5>
  <p class="text-elign">
    <span id="firstLetter">L</span>'art d'Arghillà retrace avec curiosité,
    passion et émotion les méandres de l'histoire de notre terre, en suivant
    parfois des traces négligées et inconnues, cachées dans les plis de la
    culture pauvre et mineure, celle des gens qui vivent et célèbrent chaque
    jour. Le choix des figures sur lesquelles s'arrêter et réfléchir de Nicola
    Tripodi se porte sur les objets du passé - quand même les choses avaient une
    âme reconnue - mais aussi sur la mer et la terre., ainsi que sur les
    symboles de la tradition qu'il récupère et réinterprète, en leur insufflant
    une nouvelle dimension en leur attribuant un nouveau souffle qui les
    rapproche de notre cœur. C'est l'art des terres et d'un univers infini de
    témoignages et d'allégories qui sait toujours comment surprendre. La terre
    cuite produite dans l'atelier est modelée et décorée à la main. Chacun d'eux
    est une œuvre d'art unique.
  </p>

  <h5 class="uk-panel-title text-center mt-4"><em>THE ART OF LANDS </em></h5>
  <p class="text-elign">
    <em id="anglais">
      <span id="firstLetter">T</span>he art of Arghillà is permeated by a sense
      of curiosity and passion as it explores the mazes of our land’s history.
      It sometimes follows unknown or neglected paths, those hidden among the
      folds of minor folk culture, the culture of the people who live and
      celebrate it every day. Nicola Tripodi chooses figures from among objects
      of bygone days, when even things were known to possess a soul, but his
      work also tells stories of the sea and the land, of the symbols of
      tradition which he recovers and reinterprets, breathing new life into them
      and bringing them closer to our hearts. It is the art of the earth and of
      an infinite universe of testimony and allegory which can still surprise us
      today. The terracotta products are shaped and decorated by hand. Each
      piece is unique.</em
    >
  </p>
</div>

<!-- 1st row verticaly centered text in the square columns -->

<div class="square img_1-1"></div>
<div class="square img_1-2">
  <!-- <span class="text-center">LAMPADE E LUCI | LAMPS AND LIGHTS </span>  <br>

  Acqua, terra, cielo e la vita che li abita, risplendono di luce propria. <br>
  
  Water, land, sky and the life which inhabits them, shining with their own light -->
</div>
<div class="square img_1-3"></div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square img_2-1"></div>
<div class="square img_2-2"></div>
<div class="square img_2-3"></div>

<!-- 3rd row responsive images in background with centered content -->

<div class="square img_3-1"></div>
<div class="square img_3-2"></div>
<div class="square img_3-3"></div>
