<!-- **********************************************cover della pagina gallery********************************************************************* -->

<section id="hero">
  <div class="inner">
    <h1>Arghillà Gallerie</h1>
    <!-- <p class="text-align">Un uomo che lavora con le sue mani è un operaio; un uomo che lavora <br>    
        con le sue mani e il suo cervello è un artigiano; ma un uomo che lavora <br>
        con le sue mani, il suo cervello e il suo cuore è un artista.</p> -->
    <p class="text-align">
      Un homme qui travaille avec ses mains est un ouvrier ; un homme qui
      travaille <br />
      avec ses mains et son ses mains et son cerveau est un artisan ; mais un
      homme qui travaille <br />
      avec ses mains, son cerveau et son cœur est un artiste.
    </p>
    <p></p>
    <p class="text-align">
      A man who works with his hands is a workman; a man who works <br />
      with his hands and his brain is a craftsman; but a man who works <br />
      with his hands, his brain and his heart is an artist.
    </p>
  </div>
</section>

<!-- texte -->
<div class="container mt-4">
  <h3 class="uk-panel-title text-center">
    L'ARTS DES TERRES | THE ART OF LANDS
  </h3>
  <p class="uk-h3" style="text-align: center">
    <span style="color: #808080"
      >"Je façonne la terre de mon pays avec mes mains pour trouver des signes
      du passé, symboles d'une culture, d'une identité, de la Calabre."</span
    >
  </p>
  <p class="uk-h3" style="text-align: center">
    <span style="color: #808080"
      >&ldquo;With my hands I shape the clay of my land, seeking signs of the
      past, symbols of a culture, of an identity, of Calabria.&rdquo;</span
    >
  </p>
  <p class="mt-4 text-elign">
    Arghillà est un quartier de la ville de Reggio Calabria (Italie), le lieu où
    la mémoire, la culture et le symbolisme de la terre de Calabre prennent
    forme. Le terme est onomatopéique, rappelant l'argile, mais l'étymologie du
    nom dérive peut-être de chèvre. De toute façon, argile ou chèvres, l'atelier
    de Nicola Tripodi est bien pourvu des deux. Les créations de son atelier
    nommé "Figulus" ne sont pas de simples artefacts, mais des œuvres d'art qui
    allient habileté manuelle, couleur, recherche et retour aux origines.Dans
    son atelier, Nicola Tripodi utilise son expérience dans la production de
    terre cuite : candélabres, récipients, luminaires, masques, sculptures et
    bien d'autres choses encore. L'intégralité de ses œuvres sont des pièces
    uniques, modelés et décorés à la main. La mise en scène des pièces se
    compose d'une structures qui, à l'aide de fils presque invisibles, valorise
    les œuvres conçues pour intégrer un nouveau habitat en apportant leur côté
    fonctionnel. La terre cuite produite dans l'atelier est modelée et décorée à
    la main. Chacun d'eux est pièce unique. Laissez-vous captiver par les
    candélabres représentant personnages, mythiques, épiques et symboles du
    territoire, ou encore les lampes représentant représentant l'eau, la terre
    et le ciel.
  </p>
  <p></p>
  <p>
    Arghillà is a district of Reggio Calabria, the place where the memory,
    culture and symbolism of the land of Calabria take shape. The term is
    onomatopoeic, recalling clay, but perhaps the etymology of the name derives
    from goat. In any case, clay or goats, Nicola Tripodi's workshop is well
    stocked with both. The creations of his "Figulus" workshop are not just
    simple artefacts, but works of art that combine manual skill, colour,
    research and a return to the origins. In his workshop, Nicola Tripodi uses
    his experience in the production of terracotta: candelabras, containers,
    lights, masks, sculptures and more, all unique pieces, modelled and
    decorated by hand. A very modern exhibition project of structures which,
    with the support of almost invisible threads, keep the original artefacts
    suspended, traditional for the raw material and the techniques applied,
    innovative for their functional insertion in today's homes. The terracotta
    produced in the workshop is modelled and decorated by hand. Each one is
    unique. Let yourself be captivated by the candelabra representing real,
    mythical, epic characters and symbols of the territory, or by the lamps
    depicting water, earth and sky.
  </p>
</div>

<!-- *******************************cards products methode *ngFor pour cloner les données de la base de données db.json*********************** -->

<div class="card-group mt-4">
  <div class="card" *ngFor="let g of galleryTs">
    <img src="{{ g.pic }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ g.opera }}</h5>
      <p class="card-text">Description: {{ g.descrizione }}</p>
      <p class="card-text">Prix: {{ g.prezzo }}</p>
      <p class="card-text">Disponibilité: {{ g.disponibilita }}</p>

      <!-- button per le quantità -->
      <!-- <div type="content">
<button type="button" class="btn btn-outline" (click)="piu(g)"><img src="https://img.icons8.com/small/16/000000/plus.png"/></button> 
<span>1</span> 
<button type="button" class="btn btn-outline"(click)="meno(g)"><img src="https://img.icons8.com/small/16/000000/minus.png"/></button>
      </div> -->
      <form #f="ngForm" (ngSubmit)="Acquisto(g)" class="form-inline">
        <!-- #f="ngForm" indique que c'est un formulaire angular  pour marcher il faut evidemmment importer FormsModule dans app.module.ts -->
        <div class="form-group mx-sm-3 mb-2">
          <input
            type="number"
            name="quantita"
            ngModel
            [(ngModel)]="g.quantita"
            class="form-control"
            placeholder="0"
          />
        </div>
        <button
          type="submit"
          class="cart_btn mt-4"
          (click)="formularioAcquisto(g)"
        >
          Acheter
        </button>
      </form>
      <!-- button per comprare -->
      <!-- <button type="button" class="cart_btn mt-4" (click)="formularioAcquisto(g)">Formulario </button> -->
    </div>
  </div>
</div>















































<!-- ***************************formulario acquisto ***************************************-->
<!-- <div *ngIf="showMe"> -->

<!-- ngif serve per poter far apparire il mio formulario a determinate condizioni,
      in questo caso se clicco sul pulsante aggiungi al carrello più in alto 
      questo formulario appare. il metodo showMe lo metto poi nel ts, lo dichiaro come un boolean 
      showMe: boolean= false; lo metto in false per far capire che non deve apparire con l'apertura della pagina 
      ma solo quando ci clicco sopra. per dare un boolean true basta mettere un ! davanti 
      formulaire (g:any){
          this.showMe = !this.showMe
        }-->

<!-- <div class="container mt-4" > 
      <form (ngSubmit)="AggiungereOrdine(ordinihtml)"#ordinihtml="ngForm"></form>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header">
        <h5 class="text-center">Acquista</h5> 
            </div>
            
              <div class="form-group">
              <label for="nom">Titolo dell'Opera</label>
              <input type="text"ngModel required>
            </div>
      
            <div class="form-group">
               <label for="nom"> Quantità</label>
              <input type="text"ngModel required > 
            </div>
            
            
            <div class="form-group">
              <label for="nom">Totale</label>
              <input type="text" ngModel required >  
            </div>
      
            <div class="form-group">
              <label for="nom">Nome e Cognome</label>
              <input type="text" ngModel required >

            </div>
      
            <div class="form-group">
              <label for="nom">Email</label>
              <input type="text" ngModel required  > 
            </div>

            
            <div class="form-group">
              <label for="nom">Indirizzo</label>
              <input type="text" ngModel required >  
            </div>

            <div class="form-group">
              <label for="nom">Città</label>
              <input type="text" ngModel required> 
            </div>

            <div class="form-group">
              <label for="nom">Paese</label>
              <input type="text" ngModel required>
            </div>
      
            <button class="btn btn-warning">Invia</button>
          
          </div>
        </div>
      </div>
      </div>
    </div> -->

<!-- ESEMPIO PER RIMPIAZZARE LE CARDS -->

<!-- <div class="container mt-4"> -->

<!--   <div class="card card-block mb-2">
          <h4 class="card-title">Card 1</h4>
          <p class="card-text">Welcom to bootstrap card styles</p>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>   -->

<!-- <div class="row" *ngFor="let g of galleryTs">
          <div class="col-md-3 col-sm-6">
            <div class="card card-block" >
            <h4 class="card-title text-right"><i class="material-icons">L'ARTE DELLE TERRE | THE ART OF LANDS</i></h4>
          <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
          <h5 class="card-title">{{g.opera}}</h5>
          <p class="card-text"> Descrizione d'artista: {{g.descrizione}}</p>
          <p class="card-text">Prezzo: {{g.prezzo}}</p>
          <p class="card-text">Disponibilità: {{g.disponibilita}}</p> -->
<!-- button per comprare -->
<!-- <form class="form-inline">
           <div class="form-group mx-sm-3 mb-2">
             <input type="number" class="form-control" placeholder="1">
           </div>
      <button type="submit" class="cart_btn mt-4" (click)="formularioAcquisto(g)">Acquista</button>
    </form>
            </div>
            </div>
            </div>
      </div> -->

<!-- ESEMPIO 2 PER RIMPIAZZARE LE CARDS link  https://bbbootstrap.com/snippets/bootstrap-5-shopping-card-hover-and-carousel-images-96302166-->

<!--ESEMPIO 3 PER RIMPIAZZARE LE CARDS link https://bbbootstrap.com/snippets/bootstrap-ecommerce-single-product-page-image-carousels-41782754-->
