<!-- **********************************************cover della pagina gallery********************************************************************* -->

<section id="hero">
  <div class="inner">
    <h1>Arghillà Amministratore</h1>
    <p class="text-align">
      Un homme qui travaille avec ses mains est un ouvrier ; un homme qui
      travaille <br />
      avec ses mains et son ses mains et son cerveau est un artisan ; mais un
      homme qui travaille <br />
      avec ses mains, son cerveau et son cœur est un artiste.
    </p>
  </div>
</section>

<!-- *******************      INVENTAIRES DES OEUVRES : FORMULAIRE CRUD POST       ************************* -->
<h3 class="text-center text-dark mt-4">Ajouter une oeuvre à l'inventaire</h3>

<!-- **********************         FORMS             ************************ -->

<form class="form-style-9" (ngSubmit)="addOeuvre(oeuvre)" #oeuvre="ngForm">
  <ul>
    <li>
      <!-- *****************         Nom de l'œuvre              **************************-->
      <input
        type="text"
        name="nom"
        class="field-style field-split align-left"
        placeholder="Nom de l'oeuvre"
        ngModel
        required
        minlength="4"
        maxlength="50"
      />

      <!-- *****************                  categorie                         **************************-->

      <select name="categorie" class="mt-2">
        <option value="categorie">--Choisissez une categorie--</option>
        <option value="c" *ngFor="let c of categorieAdmin._embedded.categories">
          {{ c.nom }}
        </option>
      </select>

      <!-- *****************                   Prix                          **************************-->
    </li>

    <li>
      <input
        type="number"
        name="prix"
        class="field-style field-split align-left"
        placeholder="Prix"
        ngModel
        required
      />
      <!-- *****************                quantité                          ***************************-->
      <input
        type="number"
        name="quantite"
        class="field-style field-split align-right"
        placeholder="Quantité"
        ngModel
        required
      />
    </li>
    <!-- *****************                disponibilité                          ***************************-->
    <input
      type="checkbox"
      checked
      name="disponibilite"
      class="field-style field-split align-right"
      placeholder="Disponibilite"
      ngModel
      required
    />
    <!-- *****************                Image                          **************************-->
    <li>
      <input
        type="text"
        name="image"
        class="field-style field-full align-none"
        placeholder="Image"
        ngModel
        required
      />
    </li>

    <!-- *****************           Description de l'œuvre              **************************-->
    <li>
      <textarea
        name="field5"
        class="description"
        placeholder="Description"
        ngModel
        required
        minlength="1"
        maxlength="100"
      ></textarea>
    </li>
    <li>
      <input type="submit" value="Enregistrer" />
    </li>
  </ul>
</form>

<!-- *****   FIN formulaire   ***** -->

<!-- ********************************AFFICHAGE DES OEUVRES ******************* -->
<div class="containair mt-4">
  <div class="row">
    <div class="card-group col-8">
      <div class="card" *ngFor="let g of galleryAdmin._embedded.oeuvres">
        <img src="" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ g.nom }}</h5>
          <p class="card-text">Description: {{ g.description }}</p>
          <p class="card-text">Prix: {{ g.prix }}</p>
          <p class="card-text">
            Disponibilité: {{ g.disponibilite }} -->

            <!-- modificazione della disponibilità con ngClass e il dito ok o ko ************** -->
            <button (click)="patchOpera(g)">
              <span
                [ngClass]="{
                  'far fa-thumbs-up text-success': g.disponible,
                  'fas fa-thumbs-down text-danger': !g.disponible
                }"
              ></span>
            </button>
          </p>
          <div class="form-group row">
            <div class="col-md-6">
              <!-- boutton delete -->
              <button
                type="button"
                id="btnSubmit"
                class="btn form-control btn-sm"
                (click)="deleteOeuvre(g.id)"
              >
                Supprimer
              </button>
            </div>
            <div class="col-md-6">
              <!-- pulsante modifica -->

              <button
                class="btn form-control btn-sm"
                id="btnSubmit"
                type="button"
                (click)="formulaireModifications(g)"
              >
                Modifier
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ******TWO WAY BINDING [(ngModel)] formulario per inserire le modifiche corrispondente al pulsante modifica******************************************************** -->
  <!-- <div class="container">
    <form class="form-style-9">
      

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header">
              <h5 class="text-center">
                Formulario modificante le informazioni dell'opera selezionata
              </h5>
            </div>

            <div class="form-group">
              <label for="id">Id de l'oeuvre</label>

              <input type="text" name="id" [(ngModel)]="oeuvrehtml.id" />
              <p>{{ oeuvrehtml.id }}</p>
            </div>

            <div class="form-group">
              <label for="nom">Nom de l'oeuvre</label>
              <input type="text" name="nom" [(ngModel)]="oeuvrehtml.nom" />
              <p>{{ oeuvrehtml.nom }}</p>
            </div>

            <div class="form-group">
              <label for="description">Descrizione dell'opera</label>
              <input
                type="text"
                name="description"
                [(ngModel)]="oeuvrehtml.description"
              />
              <p>{{ oeuvrehtml.description }}</p>
            </div>

            <div class="form-group">
              <label for="prix">Prezzo</label>
              <input type="text" name="prix" [(ngModel)]="oeuvrehtml.prix" />
              <p>{{ oeuvrehtml.prix }}</p>
            </div>

            <div class="form-group">
              <label for="quantite">Esemplari restanti</label>
              <input
                type="text"
                name="quantite"
                [(ngModel)]="oeuvrehtml.quantite"
              />
              <p>{{ oeuvrehtml.quantite }}</p>
            </div>

            <div class="form-group">
              <label for="image">Immagine</label>
              <input type="text" name="image" [(ngModel)]="oeuvrehtml.image" />
              <p>{{ oeuvrehtml.image }}</p>
            </div>

            <div class="form-group">
              <label for="categorie">Immagine</label>
              <input
                type="text"
                name="categorie"
                [(ngModel)]="oeuvrehtml.categorie"
              />
              <p>{{ oeuvrehtml.categorie }}</p>
            </div>

            <button
              class="btn btn-warning"
              type="submit"
              (click)="saveModifications()"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->

  <!-- ******TWO WAY BINDING [(ngModel)] formulario per inserire le modifiche corrispondente al pulsante modifica******************************************************** -->

  <div class="container mt-4" *ngIf="showMe">
    <form>
      <fieldset>
        <legend>Formulaire de Modification</legend>

        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="text"
            name="image"
            [(ngModel)]="oeuvrehtml.image"
            class="form-control"
            id="nom"
            placeholder="https://www.aixenprovence.fr/local/cache-gd2/a5/20bd008f32f9015e71da76efda06dc.jpg?1583329035"
          />
          <!-- <p>{{ g.image }}</p> -->
        </div>

        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            name="nom"
            [(ngModel)]="oeuvrehtml.nom"
            class="form-control"
            id="email"
            placeholder="Les visages sans masque"
          />
          <!-- <p>{{ g.nom }}</p> -->
        </div>

        <div class="form-group">
          <label for="descripion">Description</label>
          <input
            type="text"
            name="description"
            [(ngModel)]="oeuvrehtml.description"
            class="form-control"
            id="email"
            placeholder="Cette oeuvre est faconnée dans l'argille du Poro, réputée"
          />
          <!-- <p>{{ g.description }}</p> -->
        </div>

        <div class="form-group">
          <label for="prix">Prix</label>
          <input
            type="text"
            name="prix"
            [(ngModel)]="oeuvrehtml.prix"
            class="form-control"
            id="email"
            placeholder="150 euros"
          />
          <!-- <p>{{ g.prix }}</p> -->
        </div>

        <div class="form-group">
          <label for="email">Quantité</label>
          <input
            type="number"
            name="quantite"
            [(ngModel)]="oeuvrehtml.quantite"
            class="form-control"
            id="email"
            placeholder="0"
          />
          <!-- <p>{{ g.quantite }}</p> -->
        </div>

        <!-- <div class="form-group">
          <label for="email">Categorie</label>
          <input
            type="text"
            name="horaire"
            [(ngModel)]="oeuvrehtml.categorie"
            class="form-control"
            id="email"
            placeholder="pierre.giraud@edhec.com"
          /> -->
        <!-- <p>{{t.horaire}}</p> -->
        <!-- </div> -->

        <button class="btn btn-outline-warning" (click)="saveModifications()">
          Enregistrer
        </button>
      </fieldset>
    </form>
  </div>
</div>
