<!-- Cover -->

<section id="hero">
    <div class="inner">
      <h1>Arghillà Art</h1>
      <p>L'ARTE DELLE TERRE | THE ART OF LANDS</p>
    </div>
  </section>


  <div class="container-fluid mt-4">
    <h3 class="uk-panel-title text-center">L'ARTE DELLE TERRE | THE ART OF LANDS</h3>
  <p class="uk-h3" style="text-align: center;"><span style="color: #808080;">"Modello con le mani la terra della mia terra per ritrovare segni del passato, simboli di una cultura, di una identit&agrave;, della Calabria.&rdquo;</span></p>
  <p class="uk-h3" style="text-align: center;"><span style="color: #808080;">&ldquo;With my hands I shape the clay of my land, seeking signs of the past, symbols of a culture, of an identity, of Calabria.&rdquo;</span></p>

  </div>
<!-- affichage panier -->

 <ng-container *ngIf="showCart" id=cart>
  <div class="container-fluid text text-dark md-8" style="margin-top:5%; width:85%;">
      <!-- <h1 class="text-center border border-secondary bg-secondary">PANIER</h1> -->
      <table class="table table-hover text-secondary">
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">PRIX</th>
                  <th scope="col">QUANTITE</th>
                  <th scope="col">TOTAL</th>

              </tr>
          </thead>
          <tbody ng-init="cart.total = {}">

              <tr class="table text-secondary bg-light border-light" *ngFor=" let oeuvre of cart">
                  <td scope="row"><img src="../../../assets/gallery/products/images/{{oeuvre.image}}" alt=""></td>
                  <td >{{ oeuvre.nom }}</td>
                  <td >{{ oeuvre.prix }}€</td>
                  <td >{{ oeuvre.quantite }}</td>

                  <!-- affichage des sous totaux des articles! -->
                  <td ng-init="cart.total = cart.total +(oeuvre.prix * oeuvre.quantite)">{{ oeuvre.prix *
                      oeuvre.quantite }}€</td>
                  <td ><button class="bg-light text-secondary"> <i class="fas fa-plus text-secondary"
                              (click)="increment(oeuvre)"></i></button><button class="bg-light text-secondary"><i
                              class="fas fa-minus-square text-secondary" (click)="decrement(oeuvre)"></i></button>
                  </td>
                  <td ><button class="bg-light text-secondary"> <i class="fas fa-trash text-secondary"
                              (click)="deleteOeuvreCart(oeuvre.id )"></i>
                      </button></td>
              </tr>

              <tr class="text-secondary">
                  <td class="text-wrap fw-bold">TOTAL DU PANIER</td>
                  <td></td>
                  <td></td>
                  <td></td>


              <!-- affichage du total du panier -->
                  <td class="text-start text-wrap fw-bold " style="right:850px;">{{total}}€</td>
              </tr>
          </tbody>
          
          <a class="wsk-btn" type="button" (click)="afficherFormulaireCommande()">Commander</a>


      </table>
  </div>
</ng-container>
<!--***************************************** formulaire commande******************************************************************************* -->
<ng-container *ngIf="showCommandeForms" id=commandeForms>
<div class="container-fluid">   
<div class="main mt-4 md-8" >  	
  <input type="checkbox" id="chk" aria-hidden="true">      
     <div class="signup">
       <form (ngSubmit)="addCommande(commande)" #commande="ngForm">
        <label for="chk" aria-hidden="true" style="color:black;">Formulaire de commande</label>
         <input type="text" name="nom" placeholder="Nom"  ngModel required>
         <input type="text" name="prenom" placeholder="Prenom" required ngModel>
         <input type="email" name="email" placeholder="Adresse mail" required ngModel>
         <input type="tel" name="telephone" placeholder="Téléphone" required ngModel>
         
         <input type="text" name="adresse" placeholder="Adresse" required ngModel>
         <legend id="informations-cb">Détails du paiement</legend>
  <div class="paiement" >     
  <button id="paiement"><i class="fab fa-cc-visa">Visa</i></button><button id="paiement"><i class="fab fa-cc-paypal">Paypal</i></button>  
 </div>      
    
<input type="text" name="titulaireCarte" placeholder="Titulaire de la carte" required ngModel>   
<input type="text" name="numeroCarte" value="numeroCarte" placeholder="Numéro de carte" required ngModel>
<input type="text" name="ccv" placeholder="CCV" value="ccv" required ngModel>
         <div class="select">
         <select >
         <option value=""> 02 Fevrier</option>
         <option value=""> 03 Mars</option>
         <option value=""> 04 Avril</option>
         <option value=""> 01 Mai</option>
         <option value=""> 01 Juin</option>
         <option value=""> 01 Juillet</option>
             </select>
         <select >
         <option value=""> 2022</option>
         <option value=""> 2023</option>
         <option value=""> 2024</option>
         <option value=""> 2025</option>
         <option value=""> 2026</option>
         <option value=""> 2027</option>
         </select>
         </div>
<button type="submit">Confirmer</button>
                           </form>
                       </div>
               
                       <div class="login  mt-4 ">
                           
                           <form  #l="ngForm">
                               <label for="chk" aria-hidden="true">Se connecter</label>
                               <input class="form-control ng-invalid ng-dirty ng-touched" type="email" placeholder="Adresse mail" ngModel name="email" #email='ngModel' required minlength="2" maxlength="20">
                               <!-- voir mosh https://www.youtube.com/watch?v=hAaoPOx_oIw -->
                               <div class="container alert alert-danger" *ngIf="email.touched && !email.valid">
                                   <div *ngIf="email.errors?.['required']">Inserez votre adresse mail</div>
                                   <!-- <div *ngIf="email.errors?.['minlength']">Votre prénom doit contenir minimum 2 caractères</div> -->
                                   <!-- <div *ngIf="email.errors?.['maxlength']">Votre prénom ne peut pas dépasser 20 caractères</div> -->
                               </div>
                               <!-- <input type="nom" name="nom" placeholder="Nom" ngModel required=""> -->
                               <input class="form-control ng-invalid ng-dirty ng-touched" type="text"  placeholder="Mot de passe" ngModel name="password" #password='ngModel' required minlength="8" maxlength="20">
                               <!-- voir mosh https://www.youtube.com/watch?v=hAaoPOx_oIw -->
                               <div class="container alert alert-danger" *ngIf="password.touched && !password.valid">
                                   <div *ngIf="password.errors?.['required']">Inserez votre mot de passe</div> 
                                    <div *ngIf="password.errors?.['minlength']">Votre mot de pass doit contenir minimum 8 caractères</div>
                                   <div *ngIf="password.errors?.['maxlength']">Votre mot de pass ne peut pas dépasser 20 caractères</div>
                               </div>
                               <button type="submit">Connexion</button>
                           
                           </form>
                           
                        
                       </div>
               </div>
               
<!-- ************************************Afficher le message de succès commande********************************************** -->
<section class="message" *ngIf="showMessageFelicitations" style="max-width:60%;">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert" >
        <strong>Félicitations!</strong> Votre commande est enregistrée !
        <button type="button" class="wsk-btn" 
        data-bs-dismiss="alert" aria-label="Close">OK</button>
    </div>
</section>
<!-- ************************************Afficher le message panier vide********************************************** -->
<section class="message" *ngIf="showMessageCart" style="max-width:60%;">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert" >
        <strong>Oups!</strong> Votre panier est vide !
        <button type="button" class="wsk-btn" 
        data-bs-dismiss="alert" aria-label="Close">OK</button>
    </div>
</section>
</div>
</ng-container>



