<!-- *****************************PIC COVER**************************************** -->

<section id="hero">
  <div class="inner">
    <h1>Arghillà Art</h1>
    <p>L'ART DES TERRES | <em> THE ART OF LANDS</em></p>
  </div>
</section>

<!-- texte -->
<div class="container mt-4">
  <h3 class="uk-panel-title text-center">
    L'ARTS DES TERRES |<em> THE ART OF LANDS</em>
  </h3>
  <p class="uk-h3" style="text-align: center">
    <span style="color: #808080"
      >"Je façonne la terre de mon pays avec mes mains pour trouver des signes
      du passé, symboles d'une culture, d'une identité, de la Calabre."</span
    >
  </p>
  <p class="uk-h3" style="text-align: center">
    <span style="color: #808080"
      >&ldquo;
      <em>
        With my hands I shape the clay of my land, seeking signs of the past,
        symbols of a culture, of an identity, of Calabria.</em
      >&rdquo;</span
    >
  </p>
  <p class="mt-4 text-elign" id="first">
    <span id="firstLetter">A</span>rghillà est un quartier de la ville de Reggio
    Calabria (Italie), le lieu où la mémoire, la culture et le symbolisme de la
    terre de Calabre prennent forme. Le terme est onomatopéique, rappelant
    l'argile, mais l'étymologie du nom dérive peut-être de chèvre. De toute
    façon, argile ou chèvres, l'atelier de Nicola Tripodi est bien pourvu des
    deux. Les créations de son atelier nommé "Figulus" ne sont pas de simples
    artefacts, mais des œuvres d'art qui allient habileté manuelle, couleur,
    recherche et retour aux origines.Dans son atelier, Nicola Tripodi utilise
    son expérience dans la production de terre cuite : candélabres, récipients,
    luminaires, masques, sculptures et bien d'autres choses encore.
    L'intégralité de ses œuvres sont des pièces uniques, modelés et décorés à la
    main. La mise en scène des pièces se compose d'une structures qui, à l'aide
    de fils presque invisibles, valorise les œuvres conçues pour intégrer un
    nouveau habitat en apportant leur côté fonctionnel. La terre cuite produite
    dans l'atelier est modelée et décorée à la main. Chacun d'eux est pièce
    unique. Laissez-vous captiver par les candélabres représentant personnages,
    mythiques, épiques et symboles du territoire, ou encore les lampes
    représentant représentant l'eau, la terre et le ciel.
  </p>
  <p></p>
  <em id="anglais" id="first">
    <span id="firstLetter">A</span>rghillà is a district of Reggio Calabria, the
    place where the memory, culture and symbolism of the land of Calabria take
    shape. The term is onomatopoeic, recalling clay, but perhaps the etymology
    of the name derives from goat. In any case, clay or goats, Nicola Tripodi's
    workshop is well stocked with both. The creations of his "Figulus" workshop
    are not just simple artefacts, but works of art that combine manual skill,
    colour, research and a return to the origins. In his workshop, Nicola
    Tripodi uses his experience in the production of terracotta: candelabras,
    containers, lights, masks, sculptures and more, all unique pieces, modelled
    and decorated by hand. A very modern exhibition project of structures which,
    with the support of almost invisible threads, keep the original artefacts
    suspended, traditional for the raw material and the techniques applied,
    innovative for their functional insertion in today's homes. The terracotta
    produced in the workshop is modelled and decorated by hand. Each one is
    unique. Let yourself be captivated by the candelabra representing real,
    mythical, epic characters and symbols of the territory, or by the lamps
    depicting water, earth and sky.
  </em>
</div>

<!-- 1st row verticaly centered text in the square columns -->

<div class="square img_1-1"></div>
<div class="square img_1-2">
  <!-- <span class="text-center">LAMPADE E LUCI | LAMPS AND LIGHTS </span>  <br>

  Acqua, terra, cielo e la vita che li abita, risplendono di luce propria. <br>
  
  Water, land, sky and the life which inhabits them, shining with their own light -->
</div>
<div class="square img_1-3"></div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square img_2-1"></div>
<div class="square img_2-2"></div>
<div class="square img_2-3"></div>

<!-- 3rd row responsive images in background with centered content -->

<div class="square img_3-1"></div>
<div class="square img_3-2"></div>
<div class="square img_3-3"></div>
