<div class="container-fluid">

    <audio loop="loop" autoplay="autoplay">
      <source src="music/music_intro.mp3" />
    </audio>

    <ul class="navbar-nav mt-4">
      <li class="nav-item">
        <a class="nav-link" routerLink='usagers'>Songer dans l'atelier Arghilla</a>
      </li>
      </ul>

    <div class="container">
      <div class="carousel mt-2">
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>

        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
      </div>
    </div>
</div>
