<section>
  <div class="container-fluid">
    <div class="container" id="black">
      <div class="carousel mt-2">
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>

        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
        <div class="carousel__face btn-btn">
          <span><a href="#" target="_blank"></a></span>
        </div>
      </div>
    </div>
  </div>
</section>
